* {
    font-family: sans-serif;

    --main-color: #8BC34A;
}

.wrapper {
    display: grid;

    grid-template-rows: 10vh 1fr 20vh;
}

body {
    margin: 0px;
}

header {
    border-bottom: 3px var(--main-color) solid;
    background-color: rgb(205, 205, 205);
}

nav {
    width: 93%;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    gap: 30px;
}

footer {
    display: grid;

    grid-template-columns: 50vw 50vw;

    border-top: 3px var(--main-color) solid;
    background-color: rgb(205, 205, 205);
}

div.info,
div.contact-info {
    margin: 30px;
}

div.info {
    text-align: center;
}

.center {
    text-align: center;
}

#shop {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

    padding-left: 15vw;
    padding-right: 15vw;
}

.item-container {
    width: 15vw;
    height: 24vw;

    margin: 10px;

    border: black solid 3px;

    display: grid;

    grid-template-rows: 60% 40%;
}

.item-container-top {
    background-color: red;
}

.item-container-bottom {
    border-top: black solid 2px;

    padding: 3px;
}