* {
    font-family: sans-serif;

    --main-color: #8BC34A;
}

.wrapper {
    display: grid;

    grid-template-rows: 80px 1fr 150px;
}

body {
    margin: 0px;
}

header {
    border-bottom: 3px var(--main-color) solid;
    background-color: rgb(205, 205, 205);

    display: flex;

    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    gap: 30px;
}

footer {
    display: grid;

    grid-template-columns: 50vw 50vw;

    border-top: 3px var(--main-color) solid;
    background-color: rgb(205, 205, 205);
}

div.info,
div.contact-info {
    margin: 30px;
}

div.info {
    text-align: center;
}

.center {
    text-align: center;
}

#shop {
    display: flex;

    justify-content: left;
    flex-wrap: wrap;

    padding-left: 15vw;
    padding-right: 15vw;
}

.item-container {
    width: 15vw;
    height: 24vw;

    margin: 10px;

    border: black solid 0.2rem;

    display: grid;

    grid-template-rows: 60% 40%;

    background-color: white;

    filter: grayscale(0.1);
}

.item-container p{
    margin: 0px;
}

.item-container:hover{
    filter: none;
}

.item-container-top {
    background-color: red;
}

.item-container-bottom {
    border-top: black solid 0.125rem;

    padding: 0.3rem;
}

.price{
    font-size: 3rem;
    font-weight: bold;
    
    float: right;
}

.product-name{
    font-size: 1.5rem;
    font-weight: bolder;
}


#home{
    display: grid;

    grid-template-rows: 100px 700px 500px;
}

#help{
    height: 1fr;

    padding: 7% 10%;

    display: grid;
    grid-template-columns: 60% 40%;

}